@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    max-width: 100%;
  }
.container {
    @apply max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 w-full lg:max-w-6xl;
}

.btn {
    @apply 
    flex
    items-center
    justify-center
    dark:text-white bg-transparent 
    dark:hover:bg-white
    hover:bg-black
    hover:bg-opacity-10
    dark:hover:bg-opacity-10
    focus:ring-2 
    focus:outline-none 
    focus:ring-primary   
    focus:bg-opacity-10 
    font-medium 
    rounded-lg
    text-sm px-4
    py-2 
    text-center;
}
* {
    -webkit-tap-highlight-color: transparent;
}


/* 
 */
html,body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.dark {
    color: #eee;    
}

.title-font {
    font-family: 'IBM Plex Sans Arabic', serif;
}

.gradient-border,
.gb {
    position: relative;
    z-index: 1;
}

.gradient-border,
.gb > * {
    z-index: 1;
}
.gbz {
    --gb-width: 0;
}
.gradient-border::before,
.gb::before {
    content: " ";
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(#fff, #f6f6f6) padding-box, linear-gradient(180deg, #eee, #ddd) border-box;
    border: var(--gb-width,1px) solid transparent;
    position: absolute;
    inset: 0px;
    pointer-events: none;
}

.dark 
.gb::before {
    pointer-events: none;
    background: linear-gradient(#22283A, #22283A) padding-box, linear-gradient(180deg, #5A6574, transparent) border-box;
}


.product-gradient {
    background: linear-gradient(0deg, rgb(243 244 246 / var(--tw-bg-opacity)) 50%, transparent) ;
}
.product-color {
    background: rgb(243 244 246 / var(--tw-bg-opacity));
}

.dark .product-gradient {
    background: linear-gradient(0deg, rgb(17 24 39 / var(--tw-bg-opacity)) 50%, transparent) ;
}
.dark .product-color {
    background: rgb(17 24 39 / var(--tw-bg-opacity));
}

.min-w-14 {
    min-width: 56px;
  }


:root {
    --p: #31E000;
    --on-p: #000;
}

.bg-p, .bg-primary {
    background-color: var(--p);
    color: var(--on-p);
}

.bg-on-p , .bg-on-primary {
    background-color: var(--on-p);
    color: var(--p);
}

.text-p {
    color: var(--p);
}


.pulse {
    position: relative;
  }
  
.pulse::after {

    pointer-events: none;
    animation: pulse-animation 3s infinite;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    border-radius: inherit;
    content: ' ';
  }
  /* input:focus,textarea:focus,select:focus {
    animation: pulse-animation 3s infinite;

  } */
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px var(--p),  0 0 0 10px transparent;
    }
    10% {
      box-shadow: 0 0 0 10px transparent, 0 0 0 0px var(--p);
    }
    30% {
        box-shadow: 0 0 0 10px transparent, 0 0 0 0px var(--p);
    }
    40% {
        box-shadow: 0 0 0 0px var(--p),  0 0 0 10px transparent;
    }
    100% {
      box-shadow: 0 0 0 10px transparent, 0 0 0 0px var(--p);
    }
  }

.line {
    background-image: linear-gradient(45deg, transparent ,var(--p), transparent);
}

.prose img {
    @apply rounded-xl
}

